.aboutcontainer{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.aboutPic {    
    width: 50%;
    height: 70vh;
    z-index: -1;
    right: 0%;
    object-fit: cover;
  }

.aboutPic > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutText{
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}
.titleOne{
    font-weight: lighter;
    font-size: xx-large;
    
}
.titleOne > h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.titleTwo{
    margin-top: 2%;
    margin-bottom: 5%;
    color: #aa2a2a;
    font-size: large;
}
.titleTwo > h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about_info{
width: 100%;
display: flex;
}
.about_info > span {
    width: 60%;
    margin-left: 20%;
    color: #aa2a2a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

@media only screen and (max-width: 940px) { 
    .about_info > span { width: 65%; } 
}

@media only screen and (max-width: 912px) { 
    .aboutcontainer { flex-direction: column; margin-top: 5%;} 
    .aboutText, .aboutPic { width: 100%; height: auto;}
    .titleOne > h1 {font-size: 50px;}
    .titleTwo > h1{font-size: 40px;}
}

@media only screen and (max-width: 500px) {
    .titleOne > h1 {font-size: xx-large;}
    .titleTwo > h1 {font-size: x-large;}   
}