.horiz-container {
    height: 100%;
    width: 100%; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.blokVnitrek{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
    width: 100%; 
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: rgb(248, 244, 244);    
}

.levy{
    text-align: left;
    display: block;
    float: left;
    width: 40%;
    height: auto;
    margin: 5px;    
    overflow: hidden;
}

.levy > h3{
    margin-top: 5%;
    margin-left: 3%;
    margin-bottom: 5%;   
    color: #0E71B8; 
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.popis,
.jednotka,
.stahovaniPopis,
.nazev { 
    /*vertical-align: inherit;    */
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.popis, .stahovaniPopis, .stahovaniHodnoty{
    margin-right: 10%;
    margin-left: 3%;
}

.sirka > .popis { margin-right: 11%; }
.vyska > .popis { margin-right: 9.5%; }

.pocet, .sirka, .vyska, .cenaRozmery, .stahovaniPopis, .stahovaniHodnoty, .delkaOvladani{
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.brzda > input {
    margin-left: 3%;
}

.brzda {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.brzda > .hodnota > span {
    color: black;
    margin-left: 3%;
    display: inline-block;
    width: auto;
}

.stahovaniPopis{margin-bottom: 1%;}

.sirka > .hodnota,
.vyska > .hodnota,
.delkaOvladani > .hodnota {
    display: inline-block;
    border-radius: 10px;
    border: 0 none;
    color: #434343;
    background: #0e71b8;
    width: 160px;
}

.sirka > .hodnota{
    background: rgb(202, 31, 31);
}
.delkaOvladani > .hodnota {
    background: green;
}

.pocet > .hodnota{
    display: inline-block;
    border-radius: 10px;
    border: 0 none;
    color: #434343;
    background: none;
    width: 50%;
    align-content: right;
}

.cenaRozmery,
.cenaRozmery > .hodnota >span {
    color: red;
    font-weight: 600;
}

.hodnota > textarea {
    box-sizing: border-box;
    position:relative;  
    resize: none;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: -2.8px;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    outline: none;
    text-align:center;
    font-size: 20px;    
    padding: 5px; /*to try*/
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    overflow: hidden;
}

.pocet > .hodnota > textarea{
    width: 100px;
    height: 35px;
}

span > .jednotka {
    position: absolute;
    margin-left: 4px;
    margin-top: 9px;
    color:white;
 }

 .nazev > .cena {color: red;}

.stahovaniHodnoty > input[type='radio']{
    display: none;
}

.stahovaniHodnoty > label {
    display: inline-block;
    background-color: #0e71b8;
    padding: 4px 11px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-right: 2px;
    border-radius: 5px;
    color: white;
  }

.stahovaniHodnoty > input[type='radio']:checked+label{
    background-color: rgb(202, 31, 31);
    border: 1px solid cyan;
  }

.stredCol{
    display: block;
    float: left;
    width: 40%;
    height: auto;
    margin: 5px;    
    overflow: hidden;
}

.stred {
    content: url('/public/images/img-horiz.jpg');
    width: auto; 
    height: auto;    
    margin: auto;
    margin-top: 40%;
}

.infoCol{
    display: block;
    float: right;
    width: 60%;
    height: auto;
    margin: 5px;    
    overflow: hidden;
}

.info {
    width: auto; 
    height: auto;    
    margin: auto;
    margin-top: 20%;
}

.info > div,
.info > ul{    
    margin-left: 5%;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    list-style: none;
    /*text-align: center;*/
}
.info > ul > li::before {
    content: "\2023";
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: 5%;
  }

.info > ul > li:hover { color:unset;}

.one { color: rgb(202, 31, 31);}
.two { color: #0e71b8;}
.three { color: green;}

.info > div > a{
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 3px;
    text-align: center;
    width: 270px;
    border: 1px solid red;
    text-decoration: none;
    display: inline-block;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    cursor: pointer;
    border-radius: 5px;
    color: black;
}

.info > div > a:hover{
    background-color: lightgreen;
    color: red;
}

.lastTwoCol{
    display: flex;
    flex-direction: row;
    float: right;
    width: 60%;
    height: auto;
    margin: 5px;    
    overflow: hidden;}

@media screen and (max-width: 625px) {
.blokVnitrek{ width:auto; height:auto;
              flex-direction: column; justify-content: center; 
            }
.levy{ width: auto; height: auto; }
.stred { justify-content: center; }
}

@media screen and (max-width: 980px) { 
    .levy{ width: 50%; margin: auto;}
    .stred, .info { margin: auto; }
    .lastTwoCol{flex-direction: column;} 
    .info > div, .info > ul{ text-align: center;}
    .stredCol, .infoCol{ width: 100%; margin-top: 40px; }}

@media screen and (max-width: 625px) { 
    .levy, .lastTwoCol, .stredCol, .infoCol{ width: 98%; } 
    .stred{margin-top: auto;}
    .info{margin-top: auto;}
}

@media screen and (max-width: 330px) {
    .levy{ font-size: 15px; }
    .hodnota > textarea{ width: 90px; height: 30px; }
    .pocet > .hodnota > textarea{ width: 85px; height: 30px; } }

@media screen and (max-width: 280px) {
    .hodnota > textarea{ width: 70px; }
    .pocet > .hodnota > textarea{ width: 70px; }
}
@media screen and (max-width: 240px) {
    .hodnota > textarea{ height: 40px; }
    .pocet > .hodnota > textarea{ height: 40px; }
}
/*@media screen and (max-width: 930px) {
    .info > div > a{
        width: 240px;
        font-size: 10px;
    }
}*/

@media screen and (max-width: 320px) {
    .info > div > a{ width: 200px; font-size: 10px; }
    .info > div, .info > ul{ text-align: left;}
}
@media screen and (max-width: 250px) {.info > div > a{ width: 150px; font-size: 8px; }}
@media screen and (max-width: 180px) {.info > div > a{ width: 100px; font-size: 6px; }}
@media screen and (min-width: 1150px) {.stred{width: 90%; margin-top: 20%;}}